@model IEnumerable<Usuario>
<table class="table">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.Rol</td>
            </tr>
        }
    </tbody>
</table>
